*.o
*.mod
*.modmic
*.ptx
*.i
*.ii
*.cudafe*
*.fatbin*
*.cubin
*.module_id
*.hash
*.a
*.so
*.x
.*swp

# TODO
todo.txt

# temporary files
__*__
.ipynb_checkpoints

# mypy typechecker
.mypy_cache/

# Autotools
Makefile
aclocal.m4
autom4te*
config.status
config.log
configure

.venv/
.idea/
.vscode/
