[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "docopt.cpp"]
	path = docopt.cpp
	url = https://github.com/docopt/docopt.cpp.git
[submodule "TAL_SH"]
	path = TAL_SH
	url = https://github.com/DmitryLyakh/TAL_SH.git
