[submodule "googletest"]
	path = tests/src/googletest
	url = https://github.com/google/googletest.git
[submodule "docopt.cpp"]
	path = src/docopt
	url = https://github.com/docopt/docopt.cpp.git
[submodule "src/pycpp"]
	path = src/pycpp
	url = git@github.com:ngnrsaa/pycpp.git
