language: cpp

os:
  - linux

dist:
  - bionic

services:
  - docker

addons:
  apt:
    packages:
    - yapf3
    - clang-format

before_script:
  - bash scripts/check_format.sh
  - docker-compose build

script:
  - docker run -ti --rm qflex-tests:latest
  - docker run -ti --rm qflex-py-tests:latest
  - docker run -ti --rm qflex:latest /qflex/config/circuits/bristlecone_48_1-24-1_0.txt /qflex/config/ordering/bristlecone_48.txt /qflex/config/grid/bristlecone_48.txt
